// Cards
$card-width: 15cm;
$card-min-height: 7.5cm;
$card-padding: 0.1cm;


// Colors
$card-background-color: #8a8a8a;
$card-border: 1px solid#2e2e2e;
$card-header-background-color: #1A2B1B;
$card-header-color: #eeeeee;
$card-table-header-background-color: #748A4E;
$card-table-row-background-color: #cccccc;
$card-table-altrow-background-color: #AFB7A4;

// Fonts