// Colors
$card-background-color: #cccccc;
$card-header-background-color: #cccccc;
$card-table-header-background-color: #cccccc;
$card-table-row-background-color: #cccccc;
$card-table-altrow-background-color: #cccccc;

// Fonts