@import 'variables';

section {
    margin-bottom: 0.5cm;
    &.roster-footer {
        display: flex;
    }
    & > div {
        flex-basis: 50%;
        min-height: 3cm;
        &.warlord {
            margin-right: 0.5cm;
        }
        &.points-total {
            margin-left: 0.5cm;
        }
    }
}
table.roster {
    width: 100%;
    border: 1px solid black;
    & th {
        background-color: black;
        color: white;
        text-transform: uppercase;
        &.left-align {
            text-align: left;
        }
    }
    & th, td {
        border: 1px solid black;
        padding: 0 0.1cm;
    }

}
.card {
    width: $card-width;
    min-height: $card-min-height;
    background-color: $card-background-color;
    border: $card-border;
    border-radius: 0.4em;
    & .card-header {
        color: $card-header-color;
        background-color: $card-header-background-color;
        border-top-left-radius: 0.4em;
        border-top-right-radius: 0.4em;
        text-align: center;
        text-transform: uppercase;
        padding: 0.2cm;
    }
    & .wound-track {
        height: 2.5cm;
        width: 6cm;
        float: right;
        z-index: 1;
        position: absolute;
        margin-left: 9.5cm;
        background-color: white;
        border: $card-border;
    }
    // & .card-body {
    //     padding: $card-padding;
    // }

}
table.unit, table.weapon {
    width: 100%;
    font-size: 0.8em;
    border-collapse: collapse;
    & tr {
        background-color: $card-table-row-background-color;
        &:nth-child(odd) {
            background-color: $card-table-altrow-background-color;
        }
        &::nth-child(even) {
            background-color: $card-table-row-background-color
        }
    }
    & th {
        background-color: $card-table-header-background-color;
    }
    & th, td {
        &:first-child {
            padding: 0.1cm;
            min-width: 2cm;
            width: 2cm;
            text-align: left;
        }
        &:last-child {
            min-width:6cm;
        }
    }
}
table.unit {
    & th, td {
        width: (($card-width - 2cm) / 9);
        text-align: center;
    }
}
table.weapon {
    & th, td {
        width: (($card-width - 2cm) / 6);
        text-align: center;
    }
}

@media print {
    .card {
      float: left;
      page-break-inside: avoid;
    }
  }